body {
    // padding: 2vw;
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px
    );
  
  
      @-webkit-keyframes blink {
        20%,
        24%,
        55% {
          color: #111;
          text-shadow: none;
        }
      
        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
      /*     color: #fccaff;
          text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
            0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
          color: #fff6a9;
        }
      }
      
      @keyframes blink {
        20%,
        24%,
        55% {
          color: #111;
          text-shadow: none;
        }
      
        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
      /*     color: #fccaff;
          text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
            0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
          text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
          color: #fff6a9;
        }
      }

    header {       

      .en {
        border: solid 2px white;
        float: right;
        padding: 3px;
        margin: 50px;
        text-decoration: none;
      }

      .jp {
        @include en;
      }

          .welcome {
              padding-top: 100px;
              // position: absolute;
              // top: 5%; 
              // left: 20%; 
              
              font-size: calc(8vh);
              line-height: calc(10px + 10vh);
            /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
                0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
              color: #fccaff; */
              text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
                color: #fff6a9;
              font-family: "beon";
              text-align: center;
              animation: blink 12s infinite;
              -webkit-animation: blink 12s infinite;
            }

          h1 {
              font-size: 40px;
              padding-top: 100px; 
              font-size: calc(10px + 8vh);
              line-height: calc(10px + 10vh);
            /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
                0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
              color: #fccaff; */
              text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
                color: #fff6a9;
              font-family: "beon";
              text-align: center;
              animation: blink 12s infinite;
              -webkit-animation: blink 12s infinite;
            }
    }  

    h2 {
      padding-top: 200px;
      padding-left: 5%;
      font-size: 36px;
    }

    .card01 {
      padding-top: 150px;
      padding-bottom: 150px;
      width: 80%;
      height: auto;
      background-color: whitesmoke;
      margin: 100px auto 100px;
      box-shadow: 5px 5px grey;
      text-align: center;
      // text-align: left;

        h3 {
          color: black;
          padding-bottom: 50px;
        }

        .icon {
          width: 250px;
          height: auto;
          padding-bottom: 50px;
        }

        ul {
          // margin: 0 auto;
          text-align: left;

            li {
              color: black;
              line-height: 60px;
              text-align: left;
              padding-left: 10%;
              padding-right: 3%;
            }
        }
    }

    .card02 {
      padding-top: 150px;
      padding-bottom: 150px;
      width: 80%;
      height: auto;
      background-color: whitesmoke;
      margin: 100px auto 100px;
      box-shadow: 5px 5px grey;
      text-align: center;
      // text-align: left;

        h3 {
          color: black;
          padding-bottom: 50px;
        }

        .icon {
          width: 250px;
          height: auto;
          padding-bottom: 50px;
        }

        ul {
          // margin: 0 auto;
          text-align: left;

            li {
              color: black;
              line-height: 60px;
              text-align: left;
              padding-left: 10%;
              padding-right: 3%;
            }
        }
    }

    .card03 {
      padding-top: 150px;
      padding-bottom: 150px;
      width: 80%;
      height: auto;
      background-color: whitesmoke;
      margin: 100px auto 100px;
      box-shadow: 5px 5px grey;
      text-align: center;
      // text-align: left;

        h3 {
          color: black;
          padding-bottom: 50px;
        }

        .icon {
          width: 250px;
          height: auto;
          padding-bottom: 50px;
        }

        ul {
          // margin: 0 auto;
          text-align: left;

            li {
              color: black;
              line-height: 60px;
              text-align: left;
              padding-left: 10%;
              padding-right: 3%;
            }
        }
    }

    .card04 {
      @include card;

      // h3 {
      //   // @include h3;
      // }

        .profile {
          @include li;
          padding-bottom: 100px;
        }

        ul {

      

            li {
              @include li;
              text-align: center;
              line-height: 100px;
              padding-right: 0;
              padding-left: 0;

            }
            .icon_sm {
              width: 100px;
              height: auto;
              padding-bottom: 50px;
            }

            .html5 {
              padding-bottom: 0;
            }

            .attribution {
              color: black;
            }
        }
    }

    .card05 {
      @include card;
      background-image: url("bgd_img.png");
      background-repeat: repeat;
      padding-bottom: 150px;

        .frame {
          width: 90%;
          padding-top: 100px;
        }

        .plate {
          padding-top: 30px;
          // padding-left: 5%;
          padding-bottom: 100px;
          width: 60%;
        }

        .last {
          padding-bottom: 0;
        }
    }
      
    .affili {
      text-align: center;
      
        .affiliation01 {
          width: 50%;
          padding-top: 200px;  
        }
        .affiliation {
          width: 80%;
          padding-top: 200px;  
        }
    }

    .card06 {
      @include card;

      h3 {
        @include h3;
      }

    dl {
      background-color: lightgray;
      margin: 100px 10% 100px;
      padding-top: 100px;
      padding-bottom: 100px;
      
        dt, dd {
          color: black;
          line-height: 50px;
          // text-align: center;
          // padding-left: 10%;
          margin: 0 auto;
        }
      }
  }    

    .form {
      text-align: center;
    }  

    .google_form {
      padding-top: 100px;
      padding-bottom: 200px;
      width: 90%;    }  
      
        
}

@include lg {
    body {
      .container {
          display: flex;
          
        }

        .card01 {
          margin-top: 100px;
          margin-right: 0;
          margin-bottom: 100px;
          margin-left: 100px;

          ul li {
            font-size: 18px;
          }          

        }

        .card02 {
          margin-top: 100px;
          margin-right: 50px;
          margin-bottom: 100;
          margin-left: 50px;
          padding-bottom: 0;

          ul li {
            font-size: 18px;
          } 
        }

        .card03 {
          margin-top: 100px;
          margin-right: 100px;
          margin-bottom: 100px;
          margin-left: 0;

          ul li {
            font-size: 18px;
            list-style: disc;
          } 
        }

        .card06 {
            dl {
              // padding-top: 0;
              width: 50%;
              margin: 0;
            }

            .design {
              margin-top: 100px;
              margin-right: 50px;
              margin-bottom: 100px;
              margin-left: 100px;

              // dt, dd {
              //   font-size: 18px;
              // }
            }

            .cording {
              margin-top: 100px;
              margin-right: 100px;
              margin-bottom: 100px;
              margin-left: 50px;
            } 
        }
    }
}
