footer {
    text-align: center;
    padding-bottom: 200px; 

    .page_top {
        width: 100px;
        padding-bottom: 150px;
    }

    .thankyou {
        padding-bottom: 200px;
        // position: absolute;
        // top: 5%; 
        // left: 20%; 
        
        font-size: calc(8vh);
        line-height: calc(10px + 10vh);
      /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
          0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
        color: #fccaff; */
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
          color: #fff6a9;
        font-family: "beon";
        text-align: center;
        animation: blink 12s infinite;
        -webkit-animation: blink 12s infinite;
      }  
  }